@import 'styles/text.scss';
@import 'styles/color.scss';

.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 70px;
    z-index: 5;
    gap : 15px
}

.title{
    font: 200 1rem $h1-title;
    color : $white-background
}

.followingTitle{
    font: 600 1.5rem $h1-title !important;

}