
.container{
    display: flex;
    flex-direction: column;
    position : relative;
    background-color: #05161e;
    box-sizing: border-box;
    width: 100%;
}

.wrapper{
	width: 100%;
	max-width: 1010px;
    height: 1500px;
    position: absolute;
    margin: auto;
    align-self: center;
    
}
.trailerInfoSection{
    height: 100%;
    max-height: 500px;
    width: 100%;
    display: flex;
    position: absolute;
    z-index: 3;
}

.trailerContainer{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: flex-end;
    padding: 30px;
    justify-content: flex-start;
    ;
}

.movieCardContainer{
    width: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.movieImageWrapper{
    width: 100%;
    height: 500px;
    position: relative;
    
}

.authorContainer{
    display: flex;
    gap: 10px;
}

.movieInfo{
    display: flex;
    flex-direction: column;
}



.gradient{
  z-index: 1;
  position: absolute;
  height: 100%;
  width:100%;
  background: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(2, 0, 1, 0.73)),
}

.image{
    object-fit: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}


