@import "styles/color.scss";
@import "styles/text.scss";

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #05161e;
  box-sizing: border-box;
  width: 100%;
}

.movieTitle {
  font: $h1-movie-title;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  height: 100vh;
  position: absolute;
  margin: auto;
  align-self: center;
}
.trailerInfoSection {
  height: 100%;
  max-height: 500px;
  width: 100%;
  display: flex;
  position: absolute;
  z-index: 3;
  margin-bottom: 48px;
}

.trailerContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: flex-end;
  padding: 30px 0;
  justify-content: flex-start;
  gap: 20px;
}

.movieCardContainer {
  width: 100%;
  display: flex;
  align-self: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.movieImageWrapper {
  width: 100%;
  height: 500px;
  position: relative;
}

.authorContainer {
  display: flex;
  gap: 10px;
}

.movieInfo {
  display: flex;
  flex-direction: column;
  color: $white-background;
  font: $author;
  animation: fadeInFromLeft 1000ms;
}

@keyframes fadeInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.gradient {
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, $background-color 95%);
}

.image {
  object-fit: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}
