@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap");

$h1-title: "Roboto", sans-serif;
$h1-movie-title: 200 3rem "Teko", sans-serif;
$title-section: 400 1.25rem "Roboto", sans-serif;
$title-movie-card: 500 0.75rem "Roboto", sans-serif;
$author: 550 0.8rem "Roboto", sans-serif;
