@import 'styles/color.scss';

.container{
    height: 150px;
    width: 250px;
    position : relative;
    border-radius: 30px;
    display: flex;

}

.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
    overflow: hidden;
}

.titleMovie{
    font-size: 20px;
    position: absolute;
    align-self: flex-end;
    padding: 0 0 10px 10px;
    color: $white-background;
    opacity: 0.4;
    font: 500 0.75rem 'Roboto', sans-serif;
}

.currentMovie{
    border: 3px solid $white-background;
}